# .env

EUFY_EMAIL="mail@example.org"
EUFY_PASSWORD="eufypassword"
COUNTRY_CODE="BE"
LANGUAGE="en"
TRUSTED_DEVICE_NAME="rpi-eufy-cam-controller"
POLLING_INTERVAL_MINUTES=2 #default: 10
ACCEPT_INVITATIONS=false #default: False
STATION_IP_ADDRESSES="00000000:192.168.0.50;00000001:192.168.0.51" #follow format "station_serial1:ipaddress1;station_serial2:ipaddress2"

NUMBER_OF_CAMERAS=3

CAM_1_IP="192.168.0.50"
CAM_1_SN="00000000"
CAM_A_TYPE="T8111"
CAM_1_NAME="Living Room Camera"

CAM_2_IP="192.168.0.51"
CAM_1_SN="00000001"
CAM_A_TYPE="T8111"
CAM_1_NAME="Kitchen Camera"

# or like this?
#CAM_3={
#    "id": "3",
#    "ip": "192.168.0.52",
#    "sn": "00000002",
#    "type": "T8111",
#    "name": "Bedroom Camera"
#}

#advanced
#CONTAINER_WS_PORT=3000
#WS_EUFY_API_SCHEMA_VERSION=20
